<div class="title-subgroup">
  @if (!hasLargeSize() && !hideBackButton()) {
    <button
      #backButton
      type="button"
      class="si-details-header-back nav-link focus-inside px-6 pe-5"
      (click)="backClicked()"
      ><span
        class="pe-2 d-inline-block position-relative element-back icon"
        role="img"
        aria-labelledby="backButton"
      ></span
      >{{ backButtonText() | translate }}</button
    >
  }
  @if (title()) {
    <span class="si-details-header-title nav-link px-6 pe-5">{{ title() | translate }}</span>
  }
</div>
<ng-content />
