@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

dt {
  margin-block-start: map.get(variables.$spacers, 5);
}

dd {
  margin-block-start: map.get(variables.$spacers, 2);
  margin-block-end: 0;
}
