@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/variables';

:host {
  display: flex;
  flex-direction: row;
  flex: none;
  border-block-start: 1px solid variables.$element-ui-4;
  gap: map.get(variables.$spacers, 6);
  padding: map.get(variables.$spacers, 6);
}
