@if (search()) {
  <si-search-bar
    class="px-6 py-4"
    showIcon
    colorVariant="base-0"
    [debounceTime]="400"
    [placeholder]="searchPlaceholderLabel() | translate"
    [(ngModel)]="searchText"
  />
}
@let filteredListWidgetItemsList = filteredListWidgetItems();
@if (!showLoadingIndicator() && filteredListWidgetItemsList) {
  @if (filteredListWidgetItemsList.length > 0) {
    <div class="list-group list-group-lg" role="list">
      @for (item of filteredListWidgetItemsList; track $index) {
        <si-list-widget-item [value]="item" />
      }
    </div>
  } @else {
    <ng-content select="[empty-state]" />
  }
} @else {
  <div class="list-group list-group-lg" role="list">
    @for (some of ghosts(); track $index) {
      <si-list-widget-item [value]="undefined" />
    }
  </div>
}
