/* stylelint-disable liberty/use-logical-spec, color-no-hex */

@mixin md {
  margin-top: 20px;
  box-shadow:
    0 0 0 14px #090a0d,
    0 0 0 17px #9fa3a8,
    0 0 34px 17px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 20px;

  .wrapper {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: flex;
    height: 25px;
    justify-content: space-between;

    .md-bar {
      fill: #090a0d;
      opacity: 0.2;
      padding: 7px 11px;

      &.dark {
        fill: #fff;
        opacity: 0.5;
      }
    }
  }
}
