<div
  class="drag-and-drop rounded p-6"
  [class.drag-over]="dragOver"
  (drop)="dropHandler($event)"
  (dragover)="dragOverHandler($event)"
  (dragleave)="dragOver = false"
>
  <si-icon class="mb-6 si-display-bold" [icon]="icons.elementUpload" />
  <span class="drag-and-drop-description si-h5 d-flex">
    <span>{{ uploadDropText() | translate }}</span>
    &nbsp;
    <button type="button" class="select-file si-h5 mb-0" (click)="triggerFileSelect()">
      {{ uploadTextFileSelect() | translate }}
    </button>
    <input
      #fileInput
      type="file"
      tabindex="-1"
      class="d-none"
      siFileUpload
      [accept]="accept()"
      [maxFileSize]="maxFileSize()"
      [multiple]="multiple()"
      [directoryUpload]="directoryUpload()"
      [errorTextFileType]="errorTextFileType()"
      [errorTextFileMaxSize]="errorTextFileMaxSize()"
      (filesAdded)="onFilesAdded($event)"
      (fileError)="onFileError($event)"
      (cancel)="$event.stopPropagation()"
    />
  </span>
  @if (maxFileSize() || accept()) {
    <div class="allowed si-caption mt-6 text-center">
      @if (maxFileSize()) {
        {{ maxFileSizeText() | translate: { maxFileSize: maxFileSizeString() } }}
      }
      @if (accept()) {
        {{ acceptText() | translate: { accept: accept() } }}
      }
    </div>
  }
</div>
