@let icon = this.icon();
@if (icon) {
  <si-icon class="icon-lg" [icon]="icon" />
}
<div class="item-title text-truncate si-h5">
  <ng-content />
</div>
@if (!navbar.textOnly() && formattedBadge()) {
  @let badgeColor = this.badgeColor();
  <span
    [class]="[
      'badge',
      badgeColor ? `bg-${badgeColor}` : 'bg-default',
      textOnlyBadge() ? 'badge-text-only' : '',
      navbar.collapsed() ? 'badge-collapsed' : ''
    ]"
    >{{ formattedBadge() }}</span
  >
}
@if (group) {
  <si-icon
    class="dropdown-caret me-0 text-body"
    [icon]="group.flyoutMode() ? icons.elementRight2 : icons.elementDown2"
  />
}
