@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/all-variables';

:host {
  display: flex;
  align-items: center;
  margin-block-start: map.get(all-variables.$spacers, 4);
  padding-block: map.get(all-variables.$spacers, 2);
  overflow-x: hidden;
}

:host-context(.nav-collapsed) {
  display: none;

  si-search-bar {
    display: none;
  }
}

si-search-bar {
  inline-size: 100%;
}

.btn-search {
  display: none;
  border: 0;
  border-radius: all-variables.$element-radius-2;
  block-size: all-variables.$input-height;
  inline-size: calc(1.5rem + 2 * map.get(all-variables.$spacers, 2));
  text-align: start;
}

@include all-variables.media-breakpoint-up(sm) {
  :host-context(:not(.nav-text-only).nav-collapsed) {
    display: flex;
  }

  .btn-search {
    display: none;
  }

  :host-context(.nav-collapsed) {
    .btn-search {
      display: block;
    }
  }
}
