@if (visible()) {
  @if (smallScreen() && !collapsed()) {
    <div class="modal-backdrop" animate.leave="backdrop-leave" (click)="toggleCollapse()"></div>
  }
  <nav
    tabindex="-1"
    class="bg-base-1 focus-sub-inside"
    [class.expanded]="!collapsed()"
    [siSkipLinkTarget]="skipLinkNavigationLabel()"
    [class.text-only]="textOnly()"
  >
    <div class="collapse-toggle ms-auto">
      <div class="mobile-drawer focus-inside navbar-vertical-no-collapse">
        <button
          type="button"
          class="btn btn-icon btn-tertiary-ghost"
          [attr.aria-label]="toggleButtonText() | translate"
          [attr.aria-expanded]="!collapsed()"
          (click)="toggleCollapse()"
        >
          <si-icon
            class="flip-rtl"
            [icon]="collapsed() ? icons.elementDoubleRight : icons.elementDoubleLeft"
          />
        </button>
      </div>
    </div>
    <ng-content select="si-navbar-vertical-next-search" />
    <ng-content select="si-navbar-vertical-next-items" />
    <ng-content select="si-navbar-vertical-next-footer-items" />
  </nav>
}
<main
  class="si-layout-inner focus-none"
  tabindex="-1"
  [siSkipLinkTarget]="skipLinkMainContentLabel()"
>
  <ng-content />
</main>
