@simpl:registry=https://code.siemens.com/api/v4/projects/732/packages/npm/
@simpl-labs:registry=https://code.siemens.com/api/v4/packages/npm/
@siemens-ux:registry=https://code.siemens.com/api/v4/projects/516167/packages/npm/
