# Ignore artifacts:
.venv
build
coverage
dist
tmp
playwright/snapshots
pnpm-lock.yaml
CHANGELOG.md
api-goldens

# Formatting is broken
mkdocs.yml
docs/**/dynamic-forms.md

# Formatting not possible because of extra MkDocs syntax
docs/_custom_theme/partials/toc.html

# Ignore test files in schematics
**/schematics/**/files/**

# Intentionally ignored files
.agents/skills/playwright-cli
