@use '@siemens/element-theme/src/styles/variables';

$transition-duration: variables.element-transition-duration(0.15s);

:host {
  --strength-border-radius: 0 #{variables.$element-radius-1} #{variables.$element-radius-1} 1px;
  display: block;
  position: relative;

  &::before {
    background: var(--strength-background);
    inset-block-end: 1px;
    content: '';
    block-size: 3px;
    inset-inline-start: 1px;
    position: absolute;
    transition:
      inline-size $transition-duration,
      background $transition-duration ease-in-out;
    inline-size: calc(var(--strength-width) - 2px);
    border-radius: var(--strength-border-radius);
    z-index: 1;
  }

  &.bad {
    --strength-background: #{variables.$element-color-bad};
    --strength-width: 20%;
  }

  &.weak {
    --strength-background: #{variables.$element-color-poor};
    --strength-width: 40%;
  }

  &.medium {
    --strength-background: #{variables.$element-color-average};
    --strength-width: 60%;
  }

  &.good {
    --strength-background: #{variables.$element-color-good};
    --strength-width: 80%;
  }

  &.strong {
    --strength-background: #{variables.$element-color-excellent};
    --strength-width: 100%;
    --strength-border-radius: 0 0 1px 1px;
  }
}
