<div class="p-4">
  <si-chat-message alignment="start" actionsPosition="bottom">
    <si-attachment-list [attachments]="attachments" />
    <si-icon class="icon" [icon]="icons.elementUser" />
    <si-markdown-renderer
      text="Can you help me with this **code snippet**? I'm getting an error when I run it."
    />
    <div class="btn-group" role="group" siChatMessageAction>
      @for (action of actions; track $index) {
        <button
          type="button"
          class="btn btn-tertiary-ghost btn-icon"
          [disabled]="action.disabled"
          [attr.aria-label]="action.label | translate"
          (click)="action.action('message-1', action)"
        >
          <si-icon [icon]="action.icon" />
        </button>
      }
      <button
        type="button"
        class="btn btn-tertiary-ghost btn-icon"
        [cdkMenuTriggerFor]="secondaryActionsMenu"
        [attr.aria-label]="secondaryActionsLabel | translate"
        [attr.title]="secondaryActionsLabel | translate"
      >
        <si-icon [icon]="icons.elementOptionsVertical" />
      </button>
    </div>

    <ng-template #secondaryActionsMenu>
      <si-menu-factory actionParam="message-1" [items]="secondaryActions" />
    </ng-template>
  </si-chat-message>

  <div class="mt-5">
    <si-chat-message alignment="end" actionsPosition="side">
      <si-avatar size="small" initials="JD" altText="User" />
      Thanks for the help! That worked perfectly.
      <div class="btn-group" role="group" siChatMessageAction>
        @for (action of actions; track $index) {
          <button
            type="button"
            class="btn btn-tertiary-ghost btn-icon"
            [disabled]="action.disabled"
            [attr.aria-label]="action.label | translate"
            (click)="action.action('message-2', action)"
          >
            <si-icon [icon]="action.icon" />
          </button>
        }
      </div>
    </si-chat-message>
  </div>

  <div class="mt-5">
    <si-chat-message alignment="start" [loading]="true">
      <si-icon class="icon" icon="element-user" />
    </si-chat-message>
  </div>

  <div class="mt-5">
    <si-chat-message alignment="end" actionsPosition="side" [loading]="true">
      <si-attachment-list [attachments]="attachments" />
      <si-icon class="icon" [icon]="icons.elementUser" />
    </si-chat-message>
  </div>
</div>
