@use 'sass:map';
@use '@siemens/element-theme/src/styles/all-variables';

:host {
  cursor: pointer;
  min-inline-size: 72px;
  block-size: 100%;
  color: all-variables.$element-text-primary;
  padding-inline-end: calc(
    #{map.get(all-variables.$spacers, 2) - all-variables.$input-border-width} +
      var(--si-feedback-icon-offset, 0px)
  );

  &.disabled {
    color: all-variables.$element-text-disabled;
  }
}

:host-context(.form-control) {
  :host {
    padding-block: map.get(all-variables.$spacers, 2) - 1px;
    padding-inline-end: var(--si-input-padding-inline-end);
  }
}

si-select-option + si-select-option::before {
  content: ',\00a0 ';
}
