@if (ariaLabel()) {
  <span class="visually-hidden" [id]="baseId() + '-aria-label'">{{ ariaLabel() }}</span>
}
<div
  class="d-flex align-items-center flex-fill overflow-hidden"
  [id]="baseId() + '-content'"
  [siAutoCollapsableList]="selectionStrategy.allowMultiple && selectedRows().length > 1"
>
  @for (activeOption of selectedRows(); track activeOption) {
    @if (activeOption) {
      <si-select-option
        siAutoCollapsableListItem
        [option]="activeOption"
        [optionTemplate]="optionTemplate()"
        [class.overflow-hidden]="!selectionStrategy.allowMultiple || $count === 1"
      />
    }
  } @empty {
    <div class="text-secondary">{{ placeholder() | translate }}</div>
  }
  @if (selectionStrategy.allowMultiple) {
    <div #overflowItem="siAutoCollapsableListOverflowItem" siAutoCollapsableListOverflowItem>
      <div class="overflow-item"> {{ overflowItem.hiddenItemCount }}+</div>
    </div>
  }
</div>
<div class="form-control-actions">
  <si-icon
    class="dropdown-caret icon flip-rtl ps-0 m-0"
    [class.text-muted]="readonly()"
    [icon]="icons.elementDown2"
  />
</div>
