@use '@siemens/element-theme/src/styles/variables';
@use 'sass:map';

.criteria {
  cursor: pointer;
  white-space: nowrap;

  &.invalid-criterion {
    border-radius: 0.75rem;
    box-shadow: 0 0 0 1px variables.$element-status-danger;
  }

  &:not(.invalid-criterion) .invalid-criterion {
    box-shadow: inset 0 0 0 1px variables.$element-status-danger;
  }

  &.disabled {
    cursor: inherit;
    pointer-events: none;
  }
}

.operator-input {
  padding-inline: map.get(variables.$spacers, 2);
  inline-size: calc(1ch + #{2 * map.get(variables.$spacers, 2)});
}

input {
  background: transparent;
}
