@use '@spike-rabbit/element-theme/src/styles/variables';

input {
  background: transparent;
  border: 0;
  padding-block: 0;

  &:focus {
    min-inline-size: 20ch;
  }

  &:hover::placeholder {
    opacity: 1;
  }

  :host-context(si-filtered-search-value + :host) &::placeholder {
    color: transparent;
  }
}
