<div class="container">
  <div class="row">
    <div class="col-sm p-5 h-100">
      <ngx-datatable
        class="table-element"
        style="height: 500px"
        siDatatableInteraction
        columnMode="force"
        [selectionType]="selectionType!"
        [rows]="rows"
        [columns]="[
          {
            name: 'First name',
            prop: 'firstname',
            checkboxable: selectionType === 'checkbox',
            headerCheckboxable: selectionType === 'checkbox'
          },
          { name: 'Last name', prop: 'lastname' },
          {
            name: 'Age',
            prop: 'age',
            headerClass: 'justify-content-end',
            cellClass: 'text-align-right-cell'
          }
        ]"
        [rowHeight]="tableConfig.rowHeightSmall"
        [footerHeight]="0"
        [virtualization]="false"
        [scrollbarV]="true"
        [selected]="selected"
        [datatableInteractionAutoSelect]="true"
        (select)="selected = $event.selected"
      />
    </div>
    <div class="col-sm p-5">
      <si-card heading="Selection">
        <div class="card-body" body>
          @for (item of selected; track item) {
            <div class="mb-2">
              {{ item.firstname + ' ' + item.lastname + ' - ' + item.age }}
            </div>
          } @empty {
            None
          }
        </div>
      </si-card>
      <si-card class="mt-4" heading="Selection type">
        <div class="card-body" body>
          <div class="row">
            <si-form-item class="col-6" label="Selection type">
              <select class="form-control" id="selection-type" [(ngModel)]="selectionType">
                <option [ngValue]="undefined">Choose selection type</option>
                @for (selType of selectionTypes; track $index) {
                  <option [ngValue]="selType">{{ selType }}</option>
                }
              </select>
            </si-form-item>
          </div>
        </div>
      </si-card>
    </div>
  </div>
</div>
