<div class="pb-1 pt-1" [style.width.px]="barWidth()">
  <div class="text-secondary si-body-2"> {{ series().valuePercent }}% </div>

  <div
    class="bar-background w-100"
    [style.height.px]="barHeight()"
    [style.border-radius.px]="barHeight() / 2"
  >
    <div
      class="bar-foreground h-100"
      [style.width.%]="series().valuePercent"
      [style.backgroundColor]="'var(--' + series().colorToken + ')'"
      [style.height.px]="barHeight()"
      [style.border-radius.px]="barHeight() / 2"
    ></div>
  </div>
</div>
