@use 'sass:map';
@use 'sass:math';

@use '@spike-rabbit/element-theme/src/styles/all-variables';

:host.si-form-input {
  display: flex;
  flex-direction: column;
  margin-block-end: map.get(all-variables.$spacers, 5);

  .form-item-content {
    flex-grow: 1;
  }
}

.form-label:empty {
  display: none;
}

// maintain compatibility with the old style of si-form-item which allows wrapping multiple checkbox
:host(.form-check) {
  &:not(.form-check-inline) {
    display: block;
  }

  &:has(.form-check) {
    padding-block: 0;
  }
}

/// ACCOUNT FOR MEASURED CONTAINERS
:host-context(.si-container-sm),
:host-context(.si-container-md),
:host-context(.si-container-lg),
:host-context(.si-container-xl),
:host-context(.si-container-xxl) {
  :host.si-form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-label {
    align-self: start;
    padding-block: all-variables.add(
      all-variables.$input-padding-y,
      all-variables.$input-border-width
    );
    padding-inline: map.get(all-variables.$spacers, 6);
    inline-size: var(--si-form-label-width, math.percentage(math.div(2, 12)));
    line-height: all-variables.$input-line-height;

    &:empty {
      display: block;
    }
  }

  :host-context(si-form-fieldset) .form-label {
    padding-block: map.get(all-variables.$spacers, 1) 0;
  }

  :host(.form-check) {
    .form-label {
      padding-block: 2px;
    }
  }
}
