<div
  class="grid-stack"
  [attr.role]="editable() ? null : 'list'"
  [attr.aria-label]="editable() ? null : (a11yWidgetsListLabel | translate)"
>
  @if (grid) {
    @for (item of widgetConfigs(); track item.id) {
      <si-widget-host
        [grid]="grid"
        [attr.item-id]="item.id"
        [editable]="editable()"
        [widgetConfig]="item"
        [componentFactory]="widgetCatalogMap().get(item.widgetId)?.componentFactory"
        (remove)="widgetInstanceRemove.emit(item.id)"
        (edit)="widgetInstanceEdit.emit(item)"
      />
    }
  }
</div>
