@use '@siemens/element-theme/src/styles/variables';

// Overwrite some of Bootstrap's dropdown styling.
.dropdown-menu {
  display: block;
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  // Correction to keep previous look (looks better with focus styling)
  margin-block-start: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  max-block-size: 100%;
}

// Make matching segments bold.
.typeahead-match-segment-matching {
  font-weight: variables.$si-font-weight-bold;
}

.dropdown-item {
  * {
    flex-shrink: 0;
  }

  span {
    white-space: pre-wrap;
  }
}
