@use '@spike-rabbit/element-theme/src/styles/variables';

.selected-marker > span {
  font-size: 1.5rem;
  margin-inline-end: -0.25rem;
}

.form-check-input {
  display: none;
}

:host-context(.si-multi-select) {
  .selected-marker {
    display: none;
  }

  .form-check-input {
    display: block;
  }
}
