@use 'sass:map';

@use '@spike-rabbit/element-theme/src/styles/variables';

.app-switcher {
  position: fixed;
  inset-block-start: calc(
    variables.$si-application-header-height + variables.$si-titlebar-spacing +
      variables.$si-system-banner-spacing
  );
  inset-inline: 0;
  min-block-size: 200px;
  max-block-size: calc(
    100vh - variables.$si-application-header-height - variables.$si-titlebar-spacing -
      variables.$si-system-banner-spacing
  );
  display: flex;
  flex-direction: column;
  z-index: variables.$zindex-launchpad;
  background-color: variables.$element-base-1;
  box-shadow: variables.$element-elevation-inset-1;
}

.apps-scroll {
  overflow-y: auto;
}
