@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/variables';

// width of the date-picker: 8 cells + px-9
$datepicker-width: calc(#{8 * 2rem} + #{2 * map.get(variables.$spacers, 9)});
// calendar: 7 rows × 2rem + 8 border-spacing gaps × 3px (6 between rows + 1 before + 1 after).
// header: 1rem + py-5 + py-5 + 1px border
// today: 1rem + py-5 + mt-2
// gap: 2 * gap-6
$datepicker-height: calc(
  16rem + #{8 * 3px + 6 * map.get(variables.$spacers, 5) + 2 * map.get(variables.$spacers, 6) +
    1px + map.get(variables.$spacers, 2)}
);

:host {
  display: inline-grid;
  background: variables.$element-base-1;
  grid-template-areas: 'preset main' 'footer footer';

  &.mobile {
    grid-template-areas: 'preset' 'main' 'footer';
    justify-items: stretch;

    .presets {
      border-block-end: 1px solid variables.$element-ui-4;
    }
  }
}

.main-form {
  inline-size: $datepicker-width;
  grid-area: main;
}

.advanced-form {
  block-size: $datepicker-height;
}

.preset-select {
  display: flex;
  inline-size: calc(9.5rem + #{2 * map.get(variables.$spacers, 8)});
  flex-direction: column;
  grid-area: preset;
  background: variables.$element-base-1;

  &.mobile {
    max-block-size: 346px;
    inline-size: unset;
  }
}

ul {
  flex: 1 1 auto;
  padding-inline-start: 0;
  list-style: none;
}

.preset-item {
  cursor: pointer;
  line-height: variables.$si-line-height-body;

  &:hover {
    background: variables.$element-base-1-hover;
  }
}

.form-check-input {
  inset-block-start: 0;
}

.element-zoom {
  rotate: 45deg;
}

.footer {
  grid-area: footer;
}
