<div
  class="input-wrapper border rounded-3"
  [class.drag-over]="dragOver"
  (click)="onContainerClick($event)"
  (drop)="dropHandler($event)"
  (dragover)="dragOverHandler($event)"
  (dragleave)="dragOver = false"
>
  @if (hasAttachments()) {
    <si-attachment-list
      [attachments]="attachmentList"
      [removeLabel]="removeAttachmentLabel()"
      [removable]="true"
      (remove)="removeAttachment($event)"
    />
  }

  <div class="si-body-2">
    <label class="form-label d-none" [for]="id">{{ label() | translate }}</label>
    <textarea
      #textInput
      class="chat-textarea w-100 border-0"
      rows="1"
      [id]="id"
      [placeholder]="placeholder() | translate"
      [disabled]="disabled()"
      [maxlength]="maxLength() || null"
      [(ngModel)]="value"
      (keydown)="onKeyDown($event)"
      (input)="adjustTextareaHeight($event)"
    ></textarea>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <div class="btn-group" role="group">
      <input
        #fileInput
        type="file"
        class="d-none"
        siFileUpload
        [accept]="accept()"
        [maxFileSize]="maxFileSize()"
        [multiple]="true"
        (validFiles)="onFilesAdded($event)"
        (fileError)="onFileError($event)"
      />

      @if (hasMenuActions()) {
        <button
          type="button"
          class="btn btn-tertiary-ghost btn-icon"
          [cdkMenuTriggerFor]="allActionsMenu"
          [attr.aria-label]="secondaryActionsLabel() | translate"
          [attr.title]="secondaryActionsLabel() | translate"
        >
          <si-icon [icon]="icons.elementPlus" />
        </button>

        <ng-template #allActionsMenu>
          <si-menu-factory [items]="allMenuActions()" [actionParam]="actionParam()" />
        </ng-template>
      }
      <ng-content />
    </div>

    <button
      type="button"
      class="btn btn-tertiary-ghost btn-icon"
      [disabled]="buttonDisabled()"
      [attr.aria-label]="buttonLabel() | translate"
      (click)="onButtonClick()"
    >
      <si-icon class="text-primary" [icon]="buttonIcon()" />
    </button>
  </div>
</div>

<div class="disclaimer-wrapper text-center mt-4 px-3">
  @if (disclaimer()) {
    <span class="si-caption text-secondary d-block">{{ disclaimer() | translate }}</span>
  }
  <ng-content select="[siChatInputDisclaimer]" />
</div>
