<div class="container-fluid">
  <div class="row gy-5">
    <div class="col">
      <si-card heading="Form">
        <div class="card-body" body>
          <form class="d-flex h-100" [formGroup]="form" (ngSubmit)="save()">
            <si-form-container
              #formContainer
              labelWidth="140px"
              [readonly]="readonly"
              [form]="form"
              [errorCodeTranslateKeyMap]="errorCodeTranslateKeyMap"
              [controlNameTranslateKeyMap]="controlNameTranslateKeyMap"
            >
              <div si-form-container-content>
                <si-form-fieldset label="FORM.ROLE" inline>
                  <si-form-item
                    label="FORM.ENGINEER"
                    class="form-check form-check-inline"
                    [disableErrorPrinting]="false"
                  >
                    <input
                      type="radio"
                      formControlName="role"
                      value="ENGINEER"
                      id="role-engineer"
                      class="form-check-input"
                    />
                  </si-form-item>
                  <si-form-item
                    label="FORM.INSTALLER"
                    class="form-check form-check-inline"
                    [disableErrorPrinting]="false"
                  >
                    <input
                      type="radio"
                      formControlName="role"
                      value="INSTALLER"
                      id="role-installer"
                      class="form-check-input"
                    />
                  </si-form-item>
                </si-form-fieldset>
                <si-form-item label="FORM.NAME" [disableErrorPrinting]="false">
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name"
                    required
                    minlength="3"
                    pattern="^[A-Z].*"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.DESCRIPTION" [disableErrorPrinting]="false">
                  <input
                    type="text"
                    id="description"
                    class="w-100 form-control"
                    formControlName="description"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.PHONE_NUMBER" [disableErrorPrinting]="false">
                  <si-phone-number-input
                    class="form-control"
                    formControlName="phoneNumber"
                    defaultCountry="CH"
                    placeholderForSearch="FORM.SEARCH"
                    selectCountryAriaLabel="FORM.SELECT_COUNTRY"
                    [supportedCountries]="['AU', 'CH', 'DE', 'FK', 'IN', 'US']"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.BIRTHDAY" [disableErrorPrinting]="false">
                  <si-calendar-button class="w-100">
                    <input
                      type="text"
                      id="birthday"
                      class="w-100 form-control"
                      autocomplete="off"
                      formControlName="birthday"
                      siDatepicker
                      required
                      [readonly]="readonly"
                    />
                  </si-calendar-button>
                </si-form-item>
                <si-form-item label="FORM.TRAVEL_DATE" [disableErrorPrinting]="false">
                  <si-date-range
                    id="travelDate"
                    required
                    formControlName="travelDate"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.ARRIVAL" [disableErrorPrinting]="false">
                  <si-timepicker
                    id="arrival"
                    formControlName="arrival"
                    [hideLabels]="true"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.DEPARTURE" [disableErrorPrinting]="false">
                  <si-timepicker
                    id="departure"
                    formControlName="departure"
                    [hideLabels]="true"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.CLASS" [disableErrorPrinting]="false">
                  <si-select
                    class="form-control"
                    formControlName="serviceClass"
                    id="form-class-label"
                    [options]="optionsList"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-item label="FORM.FELLOW_PASSENGERS" [disableErrorPrinting]="false">
                  <si-number-input
                    class="form-control"
                    formControlName="fellowPassengers"
                    [readonly]="readonly"
                  />
                </si-form-item>
                <si-form-fieldset label="FORM.ACCEPT_TERMS">
                  <si-form-item
                    label="FORM.ACCEPT_TERMS_DESCRIPTION"
                    [disableErrorPrinting]="false"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="termsAccepted"
                      formControlName="termsAccepted"
                      required
                    />
                  </si-form-item>
                  <si-form-item label="FORM.ACCEPT_NO_PRIVACY" [disableErrorPrinting]="false">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="privacyDeclined"
                      formControlName="privacyDeclined"
                      required
                    />
                  </si-form-item>
                </si-form-fieldset>
              </div>
              <div si-form-container-buttons>
                <button type="button" class="btn btn-secondary me-6" (click)="cancel()"
                  >Cancel</button
                >
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </si-form-container>
          </form>
        </div>
      </si-card>
    </div>
    <div class="col">
      <si-card class="e2e-ignore" heading="Debugging">
        <form class="card-body" body>
          <si-form-container>
            <div si-form-container-content>
              <si-form-fieldset label="Actions" inline>
                <si-form-item class="form-switch mb-2" label="Disable form">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [formControl]="disabledFormControl"
                  />
                </si-form-item>
                <si-form-item class="form-switch mb-2" label="Readonly form">
                  <input class="form-check-input" type="checkbox" [formControl]="readonlyControl" />
                </si-form-item>
              </si-form-fieldset>

              @if (formContainer) {
                <si-form-item label="Validation Status">{{ form.status }}</si-form-item>
                <si-form-item label="Validation Details">
                  <ul>
                    @for (error of formContainer.getValidationErrors(); track $index) {
                      <li>
                        @if (error.controlName) {
                          <span>Control: {{ error.controlName }}, </span>
                        }
                        @if (error.errorCode) {
                          <span
                            >error: {{ error.errorCode }},
                            <span>{{ error.errorCode | translate: error.errorParams }}</span>
                          </span>
                        }
                      </li>
                    }
                  </ul>
                </si-form-item>
                <si-form-item>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Form Data</th>
                        <th scope="col">Entity Data</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="white-space: pre-wrap">{{ form.getRawValue() | json }}</td>
                        <td style="white-space: pre-wrap">{{ (entity | json) ?? 'undefined' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </si-form-item>
              }
            </div>
          </si-form-container>
        </form>
      </si-card>
    </div>
  </div>
</div>
