@use '../../styles/components/links';
@use '../../styles/variables';

:host {
  position: absolute;
  z-index: 1000;
  inset-block-start: 100%;
  inset-inline-end: 0;
  min-inline-size: 150px;
  min-block-size: 150px;
  padding: 16px;
  margin-block-start: 4px;
  border-radius: 8px;
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.16),
    0 8px 8px rgba(0, 0, 0, 0.08);
  background: variables.$live-preview-background-color;
}

.qr {
  ::ng-deep img {
    max-inline-size: unset;
  }
}

hr {
  margin-block: 12px;
  border: 0;
  border-block-start: 1px solid variables.$live-preview-border-color;
}

.url-length {
  display: none;
}
