@use 'sass:map';

@use '@spike-rabbit/element-theme/src/styles/variables';

:host {
  display: block;
  flex-direction: column; // in case it's used as flex
}

.tabs-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  block-size: 100%;

  &::before {
    inset-block-start: 38px;
    inset-block-end: auto;
  }
}

.btn.dropdown {
  color: variables.$element-text-primary;
  min-inline-size: 0;
  border-block-end: 2px solid variables.$element-ui-4;
  padding-inline: map.get(variables.$spacers, 5);
  flex-shrink: 0;

  &:hover {
    border-color: variables.$element-ui-4;
    color: variables.$element-action-secondary-text-hover;
  }
}

.tab-content {
  flex-grow: 1;
}

.tab-scroll {
  flex-basis: 0;
  overflow: auto;
}

.tabs-wrapper {
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
