@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/bootstrap/variables';
@use '@spike-rabbit/element-theme/src/styles/variables/spacers';

.badge-dot {
  inset-block-end: calc(variables.$badge-dot-size + 8px);
  inset-inline-start: 0.75rem;
  margin-inline-end: 0.75rem;
}

.badge-text {
  inset-block-start: variables.$nav-link-padding-y * -1 - 1px;
  inset-inline-start: 2px;
}

:host-context(.cdk-menu-item) {
  .badge-dot {
    inset-block-end: variables.$badge-dot-size * 0.5;
    min-inline-size: 12px;
  }

  .badge-text {
    inset-block-start: 0;
    inset-inline-start: 0;
  }

  .badge {
    margin-inline: 0 - map.get(spacers.$spacers, 3);
  }
}
