@let icon = this.icon();
<span class="text-truncate" [class.visually-hidden]="!!icon">{{ heading() | translate }}</span>
@if (icon) {
  <si-icon class="tab-icon" [icon]="icon" />
}
<si-tab-badge [badgeColor]="badgeColor()" [badgeContent]="badgeContent()" />
@if (closable() && !disabledTab()) {
  <si-icon
    class="ms-2 btn btn-circle btn-sm btn-tertiary-ghost close"
    [icon]="icons.elementCancel"
    (click)="closeTab($event)"
  />
}

<ng-template #tabContent>
  <ng-content />
</ng-template>
