.component-preview {
  border: 1px solid var(--md-table-border-color);
}

.tabs {
  border-block-end: 1px solid var(--md-table-border-color);
}

.tabs button {
  padding-block: 10px;
  padding-inline: 15px;
}

.tabs button[aria-selected='true'] {
  border-block-end: 3px solid var(--md-nav-underline-color);
}

.md-typeset [role='tabpanel'] .tab-anchor {
  visibility: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.type-table {
  display: table;
  inline-size: 100%;
  max-inline-size: 100%;
  margin-block: 1.15rem 0.625rem;
  padding: 0;
  overflow: hidden;
  box-shadow: var(
    --md-shadow-z3,
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2)
  );
  border-radius: 0.125rem;
  font-size: 0.8rem;
  border: 0.05rem solid var(--md-typeset-table-color, transparent);
}

.type-table:first-child {
  margin-block-start: 0.625rem;
}

.type-table td {
  padding: 0;
}

.type-subtable {
  inline-size: 100%;
  max-inline-size: 100%;
  padding-block: 0.375rem;
  padding-inline: 0.5rem;
  border-block-start: 0.1rem solid rgba(0, 0, 0, 0.07);
  background-color: var(--md-typeset-table-color--light);
}

.type-subtable th {
  padding-block: 0.1875em;
  padding-inline: 0.125rem;
  text-align: start;
  font-size: 0.84375rem;
}

.type-subtable td {
  padding-block: 0.1875rem;
  padding-inline: 0.125rem;
  line-height: 1.125rem;
}

.type-subtable td.nested .type-table {
  box-shadow: var(
    --md-shadow-z3,
    0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 1px 5px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px -2px rgba(0, 0, 0, 0.1)
  );
  margin-block: 0.5rem 0.25rem;
}

.type-subtable td.nested .type-table:first-child {
  margin-block-start: 0.25rem;
}

.type-subtable td.nested .type-table th {
  padding: unset;
  text-align: unset;
  font-size: unset;
  line-height: 1.6;
}

.type-subtable td.nested .type-table .type-header {
  padding-block: 0.375rem;
  padding-inline: 0.5rem;
  text-align: start;
}

.type-subtable td.nested .type-table td {
  padding: 0;
  line-height: unset;
}

.type-subtable td.nested .type-table .type-subtable th {
  padding-block: 0.1875em;
  padding-inline: 0.125rem;
  text-align: start;
  font-size: 0.84375rem;
}

.type-subtable td.nested .type-table .type-subtable td {
  padding-block: 0.1875rem;
  padding-inline: 0.125rem;
  line-height: 1.125rem;
}

.type-table .type-header {
  inline-size: 100%;
  max-inline-size: 100%;
  padding-block: 0.375rem;
  padding-inline: 0.5rem;
  border-radius: 0.125rem 0.125rem 0 0;
  background-color: var(--md-table-bg-color, #e3e3e3);
  text-align: start;
  font-weight: normal;
}

.type-table .type-headerrow {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
}

.type-table .type-headerrow > div {
  font-weight: normal;
  padding-block: 0.1875rem;
  padding-inline-start: 0.375rem;
  word-break: break-all;
  min-inline-size: min-content;
  text-align: start;
}

.type-table .type-headerrow > div:first-child {
  padding-inline-start: 0;
  flex-grow: 0;
}

.type-table .type-headerrow > div:nth-child(2) {
  vertical-align: top;
  font-weight: bold;
  white-space: nowrap;
  font-size: 0.9375rem;
  padding-inline-start: 0;
  padding-block-start: 0;
  word-break: keep-all;
  min-inline-size: max-content;
  flex-grow: 0;
}

.type-table .type-headerrow > div:last-child {
  padding-inline-end: 0.1875rem;
  min-inline-size: max-content;
  flex-grow: 0;
}

.type-expand {
  flex-grow: 100;
}

.type-no-name {
  padding-inline-start: 0 !important;
}

.type-sub-item-description {
  font-style: italic;
  font-size: 0.9em;
}

.type-table:target,
.type-table *:target {
  scroll-margin-top: 5rem;
}

.collapsible-body {
  /* Hidden by default */
  visibility: hidden;
  block-size: 0;
  position: relative;
  overflow: hidden;
  display: block;
}

.collapsible-container {
  cursor: pointer;
}

.collapsible-container .collapsible-body {
  cursor: auto;
}

.collapsible-container .toggle-icon {
  display: inline-block;
  margin: 0 0.25em 0 0.5em;
  transition: transform 0.2s;
  font-size: 0.9em;
  color: var(--md-typeset-a-color);
  user-select: none;
}

.collapsible-container[data-collapsed='false'] .toggle-icon {
  transform: rotate(90deg);
}

.collapsible-container[data-collapsed='false'] .collapsible-body {
  /* Show table body when expanded */
  display: table-row-group;
  visibility: visible;
  block-size: auto;
  position: static;
}
