@let icon = this.icon();
@if (icon) {
  <si-icon-next class="tab-icon" [icon]="icon" [attr.title]="heading() | translate" />
} @else {
  <span class="text-truncate">{{ heading() | translate }}</span>
}
@if (badgeContent() === true) {
  <span class="badge-dot"></span>
} @else if (badgeContent() && badgeColor()) {
  <span class="badge" [ngClass]="'bg-' + badgeColor()">
    <!-- eslint-disable-next-line @angular-eslint/template/no-any -->
    {{ $any(badgeContent() ?? '') | translate }}
  </span>
} @else if (badgeContent() && !badgeColor()) {
  <!-- eslint-disable-next-line @angular-eslint/template/no-any -->
  <span class="badge-text"> {{ $any(badgeContent() ?? '') | translate }}</span>
}
@if (closable() && !disabledTab()) {
  <si-icon-next
    class="ms-4 me-n4 btn btn-circle btn-xs btn-ghost close"
    [icon]="icons.elementCancel"
    (click)="closeTab($event)"
  />
}

<ng-template #tabContent>
  <ng-content />
</ng-template>
