@use '@siemens/element-theme/src/styles/variables';

:host.nav-link {
  flex-shrink: 0;
  transform: translateX(0);
  color: variables.$element-text-primary;

  &.icon-only {
    min-inline-size: auto;
  }
}

.tab-icon {
  font-size: 24px;
}
