<div class="tabs-container">
  <div class="tab-container-buttonbar-list nav nav-tabs">
    <div
      #tabScrollContainer
      role="tablist"
      tabindex="-1"
      class="d-flex tabs-wrapper"
      (siResizeObserver)="
        resizeContainer(tabScrollContainer.clientWidth, tabScrollContainer.scrollWidth)
      "
    >
      <ng-content />
    </div>

    @if (showMenuButton()) {
      <button
        type="button"
        class="dropdown btn btn-tertiary focus-inside"
        tabindex="-1"
        aria-hidden="true"
        [cdkMenuTriggerFor]="tabsMenu"
        (cdkMenuOpened)="menuOpened()"
      >
        <i class="icon element-options m-0"></i>
      </button>
    }
  </div>
  @let tabContent = this.activeTab()?.tabContent();
  @let activeTab = this.activeTab();

  @if (activeTab) {
    <div
      class="tab-content"
      role="tabpanel"
      [id]="'content-' + activeTab.tabId"
      [attr.aria-labelledby]="'tab-' + activeTab.tabId"
    >
      @if (tabContent) {
        <ng-container [ngTemplateOutlet]="tabContent" />
      }

      <ng-content select="router-outlet" />
    </div>
  }
</div>

<ng-template #tabsMenu>
  <si-menu>
    @for (tab of tabPanels(); track tab) {
      <a
        si-menu-item
        [disabled]="tab.disabledTab()"
        [icon]="tab.icon()"
        [routerLink]="tabIsLink(tab) ? tab.routerLink?.urlTree : undefined"
        (keydown.enter)="tab.selectTab(true)"
        (triggered)="tab.selectTab(true)"
      >
        <ng-container [ngTemplateOutlet]="badgeTemplate" [ngTemplateOutletContext]="{ tab }" />
      </a>
    }
  </si-menu>
</ng-template>

<ng-template #badgeTemplate let-tab="tab">
  <div class="d-flex align-items-center space-between flex-no-wrap justify-content-between">
    {{ tab.heading() }}
    <si-tab-badge [badgeContent]="tab.badgeContent()" [badgeColor]="tab.badgeColor()" />
  </div>
</ng-template>
