@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/variables';

.badge-dot {
  inset-block-end: 100%;
  inset-inline-start: 12px;
  margin-inline-end: 12px;
}

.badge-text {
  inset-block-end: calc(100% - 7px);
  inset-inline-start: 2px;
}

:host-context(.cdk-menu-item) {
  .badge-dot {
    inset-block-end: 4px;
    min-inline-size: 12px;
  }

  .badge-text {
    inset-inline-start: 0;
  }

  .badge {
    margin-inline: 0 - map.get(variables.$spacers, 3);
  }
}
