@use '@siemens/element-theme/src/styles/variables';
@use 'sass:map';

:host {
  display: block;
  block-size: 1px;
  background-color: variables.$element-ui-4;
  margin-block: map.get(variables.$spacers, 3);
  margin-inline: map.get(variables.$spacers, 5);
}
