<div
  class="widget ps-2 pe-4 gap-2"
  role="checkbox"
  [attr.tabindex]="interactive() ? '0' : ''"
  [attr.aria-disabled]="!interactive()"
  [attr.aria-checked]="selected()"
  [class.selected]="selected()"
  [class.disabled]="disabled()"
  [class.interactive]="interactive()"
  (click)="toggleSelected()"
  (keydown.enter)="toggleSelected()"
>
  @let actualIcon = statusIcon();
  @if (actualIcon.icon) {
    <span class="icon icon-stack">
      <si-icon-next [class]="actualIcon.color" [icon]="actualIcon.icon" />
      @if (actualIcon.stacked) {
        <si-icon-next [class]="actualIcon.stackedColor" [icon]="actualIcon.stacked" />
      }
    </span>
  }
  <div class="d-flex flex-column py-2" [class.ps-2]="!actualIcon.icon">
    <div class="si-title-2">{{ value() | translate }}</div>
    <div class="si-body-2 text-secondary">{{ label() | translate }}</div>
  </div>
</div>
