@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

.list-group-item-empty {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: map.get(variables.$spacers, 8);
  padding-block: map.get(variables.$spacers, 9);
}

.state-icon {
  color: variables.$element-ui-2;
  font-size: 80px;
}
