@use '@siemens/element-theme/src/styles/variables';

.breadcrumb {
  flex-wrap: nowrap;
}

.dropdown-menu.show > .dropdown-item {
  background-color: variables.$element-base-1;
}

.item {
  display: flex;
  align-items: center;
}

.separator {
  font-size: 1.5rem;
  color: variables.$element-ui-2;
  margin-block: -0.25rem;
  margin-inline: 0;
}

.breadcrumb-dropdown-toggle {
  cursor: pointer;
}

// overwrite some of Bootstrap's dropdown styling
.dropdown-item {
  &.active,
  &:active {
    background-color: variables.$element-base-1;
  }

  &:hover,
  &:focus {
    background-color: variables.$element-base-0 !important; // stylelint-disable-line declaration-no-important
    text-decoration: underline;
  }
}

.disable-router-link,
.disable-router-link:hover {
  pointer-events: none;
  color: variables.$element-text-disabled;
}
