@use 'sass:map';

@use '@spike-rabbit/element-theme/src/styles/bootstrap/variables';
@use '@spike-rabbit/element-theme/src/styles/variables/spacers';

.text-truncate {
  flex: 0 1 auto;
}

.heading {
  min-inline-size: 0;
  overflow: hidden;
}

.cab {
  flex: 1 0 0;
  min-inline-size: calc(1lh + 2 * variables.$card-cap-padding-y);
}

::ng-deep .icon[headerIcon] {
  // The icon would be 8px too high without this.
  margin-block: - map.get(spacers.$spacers, 2);
}
