@use '../../styles/variables';
@use '../../styles/components/links';
@use '../../styles/components/focus';

:host {
  display: flex;
  flex-direction: row;
  background-color: variables.$live-preview-background-color;
}

.component-list {
  border-inline-end: 1px solid variables.$live-preview-border-color;
  display: flex;
  flex: 0 0 auto;
  inline-size: 400px;
  flex-direction: column;
  transition: inline-size 0.5s;
  color: variables.$live-preview-font-color;

  &.is-collapsed {
    inline-size: 40px;
    overflow: hidden;
    background-color: variables.$live-preview-bar-background-color;

    .component-list-text {
      transform: rotate(-90deg);
      margin-block: auto 2em;
      word-wrap: normal;
    }

    .collapse-icon {
      transform: rotate(180deg);
    }
  }

  .component-list-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 10px;
    padding-inline: 8px;
    background-color: variables.$live-preview-bar-background-color;
    position: relative;
    block-size: 36px;

    .collapse-button {
      background-color: transparent;
      border: 0;
      padding: 4px;
      position: absolute;
      inset-inline-end: 2px;
      inset-block-start: 4px;
      inline-size: 32px;
      block-size: 32px;
      cursor: pointer;
      color: variables.$live-preview-control-fill-color;

      > svg {
        block-size: 20px;
        fill: currentColor;
      }

      &:hover {
        color: variables.$live-preview-link-hover-color;
      }
    }
  }

  .search-bar {
    display: flex;
    margin-block: 10px;
    margin-inline: 8px;
    position: relative;
    block-size: 38px;

    input {
      flex: 1;
      padding-block: 8px;
      padding-inline: 28px 12px;
      border: 1px solid variables.$live-preview-border-color;
      font-size: 14px;
      background: variables.$live-preview-bar-background-color;
      color: variables.$live-preview-font-color;
    }

    .search-bar-icon {
      position: absolute;
      inset-block-start: 8px;
      inset-inline-start: 6px;
      fill: variables.$live-preview-control-fill-color;
      block-size: 20px;
    }

    .cancel-button {
      background-color: transparent;
      border: 0;
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      pointer-events: auto;
      position: absolute;
      inset-inline-end: 8px;
      inset-block-start: 8px;

      > svg {
        block-size: 20px;
        fill: variables.$live-preview-control-fill-color;
      }
    }
  }

  .available-examples {
    flex: 1 1 0;
    min-block-size: 0;
    overflow-y: auto;
    padding-block-start: 10px;
    border-block-start: 1px solid variables.$live-preview-border-color;

    ul {
      margin-block: 0 16px;
      margin-inline: 0;
      padding-inline-start: 16px;
      list-style: none;
    }

    li {
      margin-inline-start: calc(var(--level) * 16px);
      padding-block: 4px;
    }
  }
}

.example-active {
  font-weight: bold;
}

a {
  text-decoration: none;
}

main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  si-example-overview {
    color-scheme: dark;
  }
}
