<div
  #container
  role="radiogroup"
  class="status-toggle-container"
  [class.disabled]="isDisabled()"
  (mousedown)="handleMouseDown($event)"
  (touchstart)="handleTouchStart($event)"
>
  @let itemsValue = items();
  <div
    #draggable
    class="toggle-draggable"
    [class.animated]="animated()"
    [class.disabled]="isDisabled()"
    [style.inset-inline-start]="draggablePosition()"
    [style.width.%]="100 / itemsValue.length"
  >
    <div class="visible-toggle-draggable"></div>
  </div>

  @let selIndexValue = selectedIndex();
  @for (item of itemsValue; track $index) {
    <div
      #items
      class="status-toggle-item focus-inside px-4"
      role="radio"
      [attr.aria-checked]="$index === selIndexValue"
      [attr.tabindex]="isDisabled() || item.disabled ? '' : '0'"
      [attr.aria-disabled]="isDisabled() || item.disabled"
      [class.active]="$index === selIndexValue"
      [class.disabled]="item.disabled || isDisabled()"
      [style.width.%]="100 / $count"
      (keydown.enter)="selectItem($index)"
    >
      <span class="icon icon-stack">
        <si-icon-next
          [ngClass]="$index === selIndexValue ? (item.activeIconClass ?? 'active') : ''"
          [icon]="$index === selIndexValue ? (item.activeIcon ?? item.icon) : item.icon"
        />
        @if ($index === selIndexValue && item.activeIconStacked) {
          <si-icon-next
            [ngClass]="item.activeIconStackedClass ?? item.activeIconClass + '-contrast'"
            [icon]="item.activeIconStacked"
          />
        }
      </span>
      <span
        class="text-truncate"
        [ngClass]="$index === selIndexValue ? (item.activeTextClass ?? 'active') : ''"
      >
        {{ item.text | translate }}
      </span>
    </div>
  }
</div>
