@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;
  position: relative;
  inline-size: 100%;

  &.show-visibility-icon {
    --si-action-icon-offset: #{24px + map.get(variables.$spacers, 2)};
  }
}

.password-visibility-icon {
  position: absolute;
  font-size: variables.$si-icon-font-size;
  inset-inline-end: map.get(variables.$spacers, 4);
  inset-block-start: map.get(variables.$spacers, 2);
  z-index: 2;
}
