@use '@siemens/element-theme/src/styles/variables';

:host {
  --avatar-size: 40px;
  --indicator-size: 24px;
  --background: #{variables.$element-base-0};
  --indicator-offset-x: -12px;
  --indicator-offset-y: -8px;

  flex: 0 0 auto;
  display: inline-flex;
  vertical-align: middle;
  color: variables.$element-text-inverse;
  position: relative;
  align-items: center;
  justify-content: center;
  inline-size: var(--avatar-size);
  block-size: var(--avatar-size);
  border-radius: 50%;
  background: var(--background);

  &.tiny,
  &.xsmall,
  &.small {
    --initials-size: #{variables.$si-font-size-title-2};
    --indicator-size: 16px;
    --indicator-offset-x: -8px;
    --indicator-offset-y: -4px;
  }

  &.tiny {
    --avatar-size: 24px;
  }

  &.xsmall {
    --avatar-size: 28px;
  }

  &.small {
    --avatar-size: 32px;
  }

  &.large {
    --avatar-size: 56px;
  }

  &.xlarge {
    --avatar-size: 80px;
  }
}

.initials {
  font-weight: variables.$si-font-weight-bold;
  font-size: var(--initials-size, variables.$si-font-size-h3);
  line-height: 1;
}

img {
  inline-size: var(--avatar-size);
  block-size: var(--avatar-size);
  border-radius: 50%;
}

.indicator {
  position: absolute;
  inset-block-start: var(--indicator-offset-y);
  inset-inline-end: var(--indicator-offset-x);
  font-size: var(--indicator-size);

  ::ng-deep {
    span {
      text-shadow:
        -1px 0 variables.$element-base-1,
        0 1px variables.$element-base-1,
        1px 0 variables.$element-base-1,
        0 -1px variables.$element-base-1;
    }

    i {
      text-shadow: none;
    }
  }
}
