@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/variables';

:host {
  --avatar-size: calc(#{variables.$si-icon-font-size} + 20px);
  --indicator-size: #{variables.$si-icon-font-size};
  --background: #{variables.$element-base-0};
  --indicator-offset-x: -0.625rem;
  --indicator-offset-y: -0.375rem;

  flex: 0 0 auto;
  display: inline-flex;
  vertical-align: middle;
  color: variables.$element-text-inverse;
  position: relative;
  align-items: center;
  justify-content: center;
  inline-size: var(--avatar-size);
  block-size: var(--avatar-size);
  border-radius: 50%;
  background: var(--background);

  &.tiny,
  &.xsmall,
  &.small {
    --initials-size: #{variables.$si-font-size-h5};
    --indicator-size: 1rem;
    --indicator-offset-x: -0.5rem;
    --indicator-offset-y: -0.25rem;
  }

  &.tiny {
    --avatar-size: calc(#{variables.$si-icon-font-size} + #{2 * map.get(variables.$spacers, 1)});
  }

  &.xsmall {
    --avatar-size: calc(#{variables.$si-icon-font-size} + #{2 * map.get(variables.$spacers, 2)});
  }

  &.small {
    --avatar-size: calc(#{variables.$si-icon-font-size} + #{2 * map.get(variables.$spacers, 3)});
  }

  &.large {
    --avatar-size: calc(
      #{variables.$si-icon-font-size} + #{2 *
        (map.get(variables.$spacers, 6) + map.get(variables.$spacers, 1))}
    );
  }

  &.xlarge {
    --avatar-size: calc(
      #{variables.$si-icon-font-size} + #{2 *
        (map.get(variables.$spacers, 8) + map.get(variables.$spacers, 3))}
    );
  }
}

.initials {
  font-weight: variables.$si-font-weight-h3;
  font-size: var(--initials-size, variables.$si-font-size-h3);
  line-height: 1;
}

img {
  inline-size: var(--avatar-size);
  block-size: var(--avatar-size);
  border-radius: 50%;
}

.indicator {
  position: absolute;
  inset-block-start: var(--indicator-offset-y);
  inset-inline-end: var(--indicator-offset-x);
  font-size: var(--indicator-size);

  filter: drop-shadow(1px 0 0 variables.$element-base-1)
    drop-shadow(-1px 0 0 variables.$element-base-1) drop-shadow(0 1px 0 variables.$element-base-1)
    drop-shadow(0 -1px 0 variables.$element-base-1);
}
