@if (imageUrl()) {
  <img [src]="imageUrl()" [alt]="altText()" />
} @else if (icon()) {
  <i class="icon" [title]="altText()" [ngClass]="icon()"></i>
} @else {
  <div
    class="initials"
    [class.text-body]="color() === 0"
    [title]="altText()"
    [attr.aria-label]="altText()"
    >{{ displayInitials }}</div
  >
}
@let iconConfig = statusIcon();
@if (iconConfig) {
  <span class="indicator-size indicator icon-stack">
    <si-icon-next class="drop-shadow" [ngClass]="iconConfig.color" [icon]="iconConfig.icon" />
    <si-icon-next [ngClass]="iconConfig.stackedColor" [icon]="iconConfig.stacked" />
  </span>
}
