@use 'sass:map';
@use 'sass:math';

@use '@siemens/element-theme/src/styles/variables';

$item-min-width: 7.1429em;
$item-padding: map.get(variables.$spacers, 4);
$item-padding-inline-small: map.get(variables.$spacers, 2);
$item-padding-block-small: map.get(variables.$spacers, 1);
$item-spacing: map.get(variables.$spacers, 2);
$colorbar-width: map.get(variables.$spacers, 2);

:host {
  position: relative;
  padding-inline-end: $item-spacing;

  &.compact {
    .status-item {
      padding-block: $item-padding-block-small;
    }
  }

  &.clickable:hover {
    .status-item {
      background-color: variables.$element-base-0 !important; // stylelint-disable-line declaration-no-important
    }

    .bg {
      display: none !important; // stylelint-disable-line declaration-no-important
    }
  }

  ::ng-deep .indicator-disabled {
    color: variables.$element-ui-3;
  }
}

.status-item {
  position: relative;
  isolation: isolate;
  padding-block: $item-padding;
  padding-inline: $item-padding-inline-small $item-padding;
  min-inline-size: var(--__si-status-bar-item-min-width, $item-min-width);
  color: variables.$element-text-primary;
  white-space: nowrap;

  > * {
    pointer-events: none;
  }
}

.status-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  block-size: 2lh;
}

.bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: variables.$element-radius-2;
  pointer-events: none;
}

.bg.custom-color {
  opacity: 0.5;

  &.contrast-fix {
    opacity: 0.25;
  }
}

.item-title,
.item-value {
  position: relative;

  &::before {
    content: '\200B'; // Zero-width-space to ensure label and value don't collapse if empty
  }
}

.color-bar {
  align-self: stretch;
  min-inline-size: $colorbar-width;
  border-radius: math.div($colorbar-width, 2);
  background: variables.$element-ui-4;
}
