@use 'sass:map';

@use '@siemens/element-theme/src/styles/all-variables';

:host {
  display: flex;
  align-items: center;

  &:focus-within {
    @include all-variables.make-outline-focus();
  }
}

input {
  -moz-appearance: textfield; // stylelint-disable-line
  border: 0;
  margin: 0;
  padding-block: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  flex: 1 0 0;
  min-inline-size: 0;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; // stylelint-disable-line
    margin: 0;
  }
}
