@use 'sass:map';
@use '@spike-rabbit/element-theme/src/styles/variables';

$color-size: 1.5rem;

.colors-row {
  display: grid;
  grid-template-columns: repeat(4, $color-size);
}

.color-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: $color-size;
  inline-size: $color-size;

  input:focus ~ & {
    @include variables.make-outline-focus();
  }
}

.input-color-box {
  cursor: pointer;
  position: relative;
  padding: (map.get(variables.$spacers, 4) - 1px);
  border-radius: variables.$element-radius-1;
  border-width: 1px;
  border-style: solid;
  border-color: variables.$element-ui-2;
  background-color: variables.$element-base-1;

  &:hover {
    border-color: variables.$element-ui-1;
  }

  &:not(:hover) {
    border-color: variables.$element-ui-2;

    &.is-open {
      border-color: variables.$element-ui-1;
    }
  }

  &:disabled {
    cursor: default;
    border-color: variables.$element-ui-3;
  }
}

.swatch {
  block-size: $color-size;
}

.swatch-label {
  cursor: pointer;

  &:hover {
    box-shadow:
      0 0 0 1px variables.$element-button-focus-overlay-color,
      0 0 0 2px variables.$element-ui-3;
  }
}

.inside-box {
  block-size: 1rem;
  inline-size: 1rem;
}

.colors {
  cursor: pointer;
}
