// Additional color palette defined by the theme, must solely be used for data visualization
// stylelint-disable color-no-hex

// Siemens data colors
$color-data-light-petrol: #6c7be3;
$color-data-petrol: #5a5daa;
$color-data-bold-green: #7c8cff;

$color-data-deep-blue-100: #e7e7e7;
$color-data-deep-blue-200: #d2d2d2;
$color-data-deep-blue-400: #a8a8a8;
$color-data-deep-blue-500: #979797;
$color-data-deep-blue-700: #676666;
$color-data-deep-blue-900: #484848;

$color-data-turquoise-100: #7adfd3;
$color-data-turquoise-200: #40c8b9;
$color-data-turquoise-400: #00b195;
$color-data-turquoise-500: #009e84;
$color-data-turquoise-700: #166a5e;
$color-data-turquoise-900: #003f36;

$color-data-sand-100: #f3f0ea;
$color-data-sand-200: #e3dfd4;
$color-data-sand-400: #c9c2b2;
$color-data-sand-500: #aaaa96;
$color-data-sand-700: #b2aa91;
$color-data-sand-900: #80715b;

$color-data-royal-blue-100: #b2e0ff;
$color-data-royal-blue-200: #97c7ff;
$color-data-royal-blue-400: #6895f6;
$color-data-royal-blue-500: #3664c6;
$color-data-royal-blue-700: #00237a;
$color-data-royal-blue-900: #00004a;

$color-data-blue-100: #ccf2f8;
$color-data-blue-200: #80dfed;
$color-data-blue-400: #4dd1e7;
$color-data-blue-500: #00bedc;
$color-data-blue-700: #0087be;
$color-data-blue-900: #00557c;

$color-data-interactive-coral-100: #d0f4f6;
$color-data-interactive-coral-200: #6ddceb;
$color-data-interactive-coral-400: #00bcd4;
$color-data-interactive-coral-500: #0097a7;
$color-data-interactive-coral-700: #006978;
$color-data-interactive-coral-900: #003640;

$color-data-plum-100: #ffbeda;
$color-data-plum-200: #ff98c4;
$color-data-plum-400: #e5659b;
$color-data-plum-500: #c04774;
$color-data-plum-700: #9f1853;
$color-data-plum-900: #4f153d;

$color-data-purple-100: #d2cbff;
$color-data-purple-200: #bfb0f3;
$color-data-purple-400: #a68dff;
$color-data-purple-500: #805cff;
$color-data-purple-700: #7353e5;
$color-data-purple-900: #553ba3;

$color-data-orchid-100: #edd6f2;
$color-data-orchid-200: #d399dd;
$color-data-orchid-400: #b95cc9;
$color-data-orchid-500: #a733bc;
$color-data-orchid-700: #740089;
$color-data-orchid-900: #52245c;

$color-data-orange-100: #ffdeb2;
$color-data-orange-200: #ffbc66;
$color-data-orange-400: #ff9000;
$color-data-orange-500: #e57700;
$color-data-orange-700: #be5925;
$color-data-orange-900: #801100;

$color-data-yellow-100: #fff7d6;
$color-data-yellow-200: #ffe784;
$color-data-yellow-400: #ffd732;
$color-data-yellow-500: #e5bd19;
$color-data-yellow-700: #b28a00;
$color-data-yellow-900: #805800;

$color-data-red-100: #fcccd7;
$color-data-red-200: #ffa8b3;
$color-data-red-400: #ff6779;
$color-data-red-500: #ff2640;
$color-data-red-700: #d72339;
$color-data-red-900: #900;

$color-data-green-100: #ccf7de;
$color-data-green-200: #80ebac;
$color-data-green-400: #01d65a;
$color-data-green-500: #00a327;
$color-data-green-700: #00890e;
$color-data-green-900: #005700;

$color-data-avocado-100: #f3f9e0;
$color-data-avocado-200: #d1e98a;
$color-data-avocado-400: #9ec625;
$color-data-avocado-500: #637d17;
$color-data-avocado-700: #435410;
$color-data-avocado-900: #2e3a0a;
