@use '../variables';

/* stylelint-disable declaration-no-important */

body:has(.cdk-drag-preview) {
  cursor: grabbing !important;

  .cdk-drop-list:not(.cdk-drop-list-dragging) {
    &:hover,
    *:hover {
      cursor: no-drop !important;
    }
    cursor: no-drop !important;
  }

  .cdk-drop-list.cdk-drop-list-dragging {
    &:hover,
    *:hover {
      cursor: grabbing !important;
    }
  }
}

.cdk-drag-preview {
  background-color: variables.$element-base-3 !important;
  box-shadow: variables.$element-elevation-2 !important;
  position: relative !important;
  inset-inline-start: -5px !important;
  inset-block-start: -10px !important;

  .cdk-drag-handle {
    &:hover {
      cursor: grabbing !important;
    }
  }
}

.cdk-drag-handle {
  font-size: 24px;
  color: variables.$element-ui-2;
}

.cdk-drag-disabled {
  .cdk-drag-handle {
    cursor: not-allowed;
  }

  &:not(:has(.cdk-drag-handle)) {
    cursor: not-allowed;
  }
}

.cdk-drag:not(.cdk-drag-disabled) {
  .cdk-drag-handle {
    &:is(:hover, .hover) {
      cursor: grab;
    }
  }

  &:not(:has(.cdk-drag-handle)) {
    &:hover,
    .grab-area:hover {
      cursor: grab;
    }

    .cdk-drag-dragging {
      cursor: grabbing;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0.3;
  background-color: variables.$element-base-information !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  min-block-size: 45px;
  font-size: 0; // hide direct text
  * {
    visibility: hidden;
  }
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.droppable-container {
  &.drop-border {
    border: 1px dashed variables.$element-ui-2;
  }

  .cdk-drag-placeholder {
    display: none;
  }

  &.cdk-drop-list-dragging,
  .cdk-drop-list-dragging {
    @include variables.make-outline-focus-inside();
    cursor: grabbing !important;

    &.focus-none > .focus-direct-sub-inside {
      @include variables.make-outline-focus-inside();
    }
  }
}
