@use '../variables/elevation';

.shadow-none {
  box-shadow: none;
}

.elevation-1 {
  box-shadow: elevation.$element-elevation-1;
}

.elevation-2 {
  box-shadow: elevation.$element-elevation-2;
}

.elevation-3 {
  box-shadow: elevation.$element-elevation-3;
}

.elevation-4 {
  box-shadow: elevation.$element-elevation-4;
}
