@use '../variables/animations';
@use '../variables/semantic-tokens';

@keyframes shimmer {
  to {
    background-position-x: -100%;
  }
}

.si-skeleton {
  display: inline-block;
  min-block-size: 1em;
  background: linear-gradient(
    90deg,
    semantic-tokens.$element-base-1-hover 0%,
    semantic-tokens.$element-base-1-selected 25%,
    semantic-tokens.$element-base-1-hover 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  border-radius: semantic-tokens.$element-button-radius;
  animation: shimmer animations.element-transition-duration(1.6s) ease-in-out infinite;
  cursor: wait;

  &.btn::before {
    display: inline-block;
    content: '';
  }
}

// Sizing
.si-skeleton-xs {
  min-block-size: 0.6em;
}

.si-skeleton-sm {
  min-block-size: 0.8em;
}

.si-skeleton-lg {
  min-block-size: 1.2em;
}
