@charset "UTF-8";
@use 'sass:map';

$siemens-font-path: '@simpl/brand/src/fonts' !default;
$icon-font-path: '@simpl/element-icons/dist/fonts' !default;

@use '@spike-rabbit/element-ng/element-ng';
@use '@spike-rabbit/element-theme/src/styles/variables/spacers';
@use '@spike-rabbit/element-theme/src/styles/variables/semantic-tokens';
@use '@spike-rabbit/element-theme/src/styles/variables/utilities';
@use '@spike-rabbit/live-preview/styles/live-preview';

// Seems like an esbuild problem what we need to solve here.
// Without this flag-icon would emit two icons with the same name although they are located in different directories.
// Webpack could handle this, esbuild cannot.
@use 'flag-icons/sass/flag-icons' with (
  $flag-icons-use-square: false
);

@use '@simpl/brand/src/themes/element-theme-siemens-brand' with (
  $siemens-font-path: $siemens-font-path
);

@use '@spike-rabbit/element-theme/src/theme' with (
  $element-theme-default: 'siemens-brand',
  $element-themes: (
    'siemens-brand',
    'element'
  )
);

@use '@simpl/element-icons/dist/style/simpl-element-icons' with (
  $font-path: $icon-font-path
);

@use '@spike-rabbit/element-theme/src/styles/themes';
@include themes.make-theme(element-theme-siemens-brand.$theme-siemens-brand-light, 'siemens-brand');
@include themes.make-theme(
  element-theme-siemens-brand.$theme-siemens-brand-dark,
  'siemens-brand',
  true
);

app-sample {
  block-size: 100%;
  display: block;
}

body {
  overscroll-behavior: none;
}

.code-preview {
  border: 1px solid semantic-tokens.$element-ui-4;
  border-radius: semantic-tokens.$element-radius-2;
  padding: map.get(spacers.$spacers, 4);
}

.sortable-item {
  margin-block-end: map.get(spacers.$spacers, 2);
}

// Padding around "app-sample", move into examples
si-live-preview-webcomponent > div {
  padding: 12px;
}

// Doing this here to use theme icons.
.ngx-datatable.table-element {
  .datatable-tree-button span i {
    @extend .element-right-2;
    @extend [class^='element-'];

    @include utilities.rtl {
      transform: scaleX(-1);
    }
  }

  .datatable-tree-button span i.datatable-icon-down {
    @extend .element-down-2;
  }
}
