@use '../../styles/variables';
@use '../../styles/components/tabs';

.wrapper {
  background-color: variables.$live-preview-background-color;
  color: variables.$live-preview-font-color;

  &.has-tabs {
    .tab-wrapper {
      background-color: variables.$live-preview-background-color;
    }
  }

  &.has-tabs-mobile {
    background-color: variables.$live-preview-background-color;
  }
}

.tab-wrapper {
  margin-block-end: 10px;
  border-block-end: 1px solid variables.$live-preview-border-color;
}

si-live-preview-renderer {
  flex: 1;
  transform: translate(0, 0);
}
