@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

.skip-link-wrapper {
  &:focus-within {
    position: absolute;
    z-index: variables.$zindex-modal;
    inset-block-start: map.get(variables.$spacers, 4);
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  &:not(:focus-within) {
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.skip-link {
  background: variables.$element-base-0;
  border-color: variables.$element-base-1;
}
