$element-elevation-1:
  0 0 4px var(--element-box-shadow-color-1),
  0 4px 4px var(--element-box-shadow-color-2);
$element-elevation-2:
  0 0 8px var(--element-box-shadow-color-1),
  0 8px 8px var(--element-box-shadow-color-2);
$element-elevation-3:
  0 0 16px var(--element-box-shadow-color-1),
  0 16px 16px var(--element-box-shadow-color-2);
$element-elevation-4:
  0 0 32px var(--element-box-shadow-color-1),
  0 32px 32px var(--element-box-shadow-color-2);

$element-elevation-inset-1:
  inset 0 0 4px var(--element-box-shadow-color-1),
  inset 0 4px 4px var(--element-box-shadow-color-2);
$element-elevation-inset-2:
  inset 0 0 8px var(--element-box-shadow-color-1),
  inset 0 8px 8px var(--element-box-shadow-color-2);
$element-elevation-inset-3:
  inset 0 0 16px var(--element-box-shadow-color-1),
  inset 0 16px 16px var(--element-box-shadow-color-2);
$element-elevation-inset-4:
  inset 0 0 32px var(--element-box-shadow-color-1),
  inset 0 32px 32px var(--element-box-shadow-color-2);
