$zindex-card: 900 !default;
// needs to be higher than modal so that dropdowns attached to body work inside modals
$zindex-dropdown: 1065 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-offcanvas-backdrop: 1040 !default;
$zindex-offcanvas: 1050 !default;
$zindex-modal: 1060 !default;
$zindex-popover: 1070 !default;
$zindex-tooltip: 1080 !default;

$zindex-statusbar: $zindex-fixed - 2; // below navbar, vertical-nav and side-panel
$zindex-sidepanel: $zindex-fixed - 1;
$zindex-sidepanel-responsive: $zindex-fixed + 1; // above vertical-nav
$zindex-vertical-nav: $zindex-fixed + 1;
$zindex-vertical-nav-collapsed: $zindex-fixed;
$zindex-application-header: $zindex-fixed + 3;
$zindex-launchpad: $zindex-application-header;
$zindex-application-header-backdrop: $zindex-launchpad - 1;
